.container {
  // occupies 120rem or 100% of vw
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  // don't grow, don't shrink, flex-basis (always keep at 18%)
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;

  // element should grow as much as it can (occupy remaining space of container)
  flex: 1;
}
